@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

body {
    font-family: Pangolin;
    background:#DDDDDD;
}

.btn {
    display:inline-block;
    text-decoration: none;               
    padding:5px 20px;
    border:1px solid #555;
    border-radius:5px;
    background:#EEEEEE;
    color:#888888;
}

.btn.btn-red {
    background-color: #E74C3C;
    color:#FFFFFF;
}

.btn-red:hover {
    background-color: #C0392B;
}

.btn.btn-blue {
    background-color: #3498db;
    color:#FFFFFF;
}

.btn-blue:hover {
    background-color: #2980b9;
}

.btn.btn-green {
    background-color: #1abc9c;
    color:#FFFFFF;
}

.btn-green:hover {
    background-color: #16a085;
}

.box {
    background:#FFFFFF;
    margin: 12px 15px 30px 45px;
    padding: 12px 15px 30px 45px;
    border:3px solid #000;
    border-radius: 30px;
    position: relative; /*ele diz para posicionar todos os elementos relativos a ele*/
}

#modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    background-color: rgba(0, 0, 0, .7);
    color: #FFFFFF;
}